<div class='template-container'>
    <div class='template'>
        <div class="header">
            <div class='image-wrapper'>
                <img src="http://upload.wikimedia.org/wikipedia/en/c/c2/Magento_logo.png">
            </div>
        </div>

        <div class='content'>
            <h1>Hi Tom,</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer orci sem, porta vitae mi eget,
                facilisis consequat odio. Duis tincidunt mauris eu fringilla laoreet.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer orci sem, porta vitae mi eget,
                facilisis consequat odio. Duis tincidunt mauris eu fringilla laoreet.
            </p>

            <div class='boxes'>
                <div class='box'>
                    <div class='image-wrapper'>
                        <img src="http://placekitten.com/g/300/300">
                    </div>
                    <h2>Buy Sweet Stuff</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class='box'>
                    <div class='image-wrapper'>
                        <img src="http://placekitten.com/g/300/300">
                    </div>
                    <h2>Get Great Support</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class='box'>
                    <div class='image-wrapper'>
                        <img src="http://placekitten.com/g/300/300">
                    </div>
                    <h2>Free Shipping</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class='footer'>
            <div class='image-wrapper'>
                <img src="http://placekitten.com/g/40/40">
            </div>
            <p>Cheers,</p>
            <p><b>Bob Smith</b> with <b>The Sweet Magento Store</b></p>
        </div>
    </div>
</div>
