body {
  background-color: #ededed;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 16px;
  color: #333332;
  line-height: 23px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.image-wrapper img {
  width: 100%;
}

.clearfix {
  clear: both;
}

.template-container {
  background-color: #ededed;
}
.template-container .template {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 15px;
}
.template-container .header {
  text-align: center;
  border-bottom: solid 1px #d4d4d4;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.template-container .header .image-wrapper {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.template-container .content {
  text-align: left;
  clear: both;
}
.template-container .content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.template-container .content h2 {
  font-size: 16px;
}
.template-container .content .boxes {
  clear: both;
}
.template-container .content .boxes .box {
  float: left;
  width: 160px;
  margin: 10px;
}
.template-container .content .boxes .box .image-wrapper {
  margin-bottom: 10px;
}
.template-container .content .boxes .box h2 {
  margin-bottom: 5px;
}
.template-container .content .blocks {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.template-container .content .blocks .block {
  border: solid 1px #d4d4d4;
  float: left;
  width: 47%;
  margin: 1%;
}
.template-container .content .blocks .block .block-heading {
  background-color: #ededed;
  padding: 5px;
}
.template-container .content .blocks .block .block-inner {
  padding: 10px;
}
.template-container .content .clearfix {
  margin-bottom: 20px;
}
.template-container .content .data-table {
  width: 96%;
  margin-left: 1%;
  margin-right: 1%;
  border: solid 1px #d4d4d4;
  margin-bottom: 20px;
  overflow: hidden;
}
.template-container .content .data-table .table-header .cell, .template-container .content .data-table .table-contents .cell {
  width: 50px;
  padding-right: 10px;
  padding: 5px;
}
.template-container .content .data-table .table-header .cell.name, .template-container .content .data-table .table-contents .cell.name {
  width: 55%;
}
.template-container .content .data-table .table-header .cell.name .sku, .template-container .content .data-table .table-contents .cell.name .sku {
  font-size: 14px;
}
.template-container .content .data-table .table-header .cell.quantity, .template-container .content .data-table .table-contents .cell.quantity {
  width: 10%;
}
.template-container .content .data-table .table-header .cell.price, .template-container .content .data-table .table-contents .cell.price {
  width: 10%;
}
.template-container .content .data-table .table-header {
  background-color: #ededed;
  clear: both;
  overflow: hidden;
  font-weight: bold;
}
.template-container .content .data-table .table-header .cell {
  float: left;
}
.template-container .content .data-table .table-header.secondary {
  display: none;
}
.template-container .content .data-table .table-contents .row {
  clear: both;
  overflow: hidden;
}
.template-container .content .data-table .table-contents .row .cell {
  float: left;
}
.template-container .call-to-action {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  clear: both;
}
.template-container .button {
  margin: 0;
  padding: 10px 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #f47526;
  color: white;
  text-decoration: none;
}
.template-container .footer {
  border-top: solid 1px #d4d4d4;
  padding-top: 20px;
  clear: both;
}
.template-container .footer .image-wrapper {
  width: 40px;
  float: left;
  margin-right: 10px;
}
.template-container .footer p {
  margin-bottom: 0px;
}
