@media (max-width: 600px) {
    .box {
        width: 100% !important;
        margin: 0px !important;
        margin-bottom: 10px !important;
    }

    .button {
        display: block !important;
        clear: both;
    }

    .blocks .block {
        width: 97% !important;
        margin: 0% !important;
        margin-bottom: 15px !important;
    }
}