<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_ResponsiveEmail>
            <version>0.1.0</version>
        </Hackathon_ResponsiveEmail>
    </modules>
    <global>
        <models>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Model</class>
            </responsive_email>
            <core>
                <rewrite>
                    <translate>Hackathon_ResponsiveEmail_Model_Core_Translate</translate>
                </rewrite>
            </core>
        </models>

        <events>
            <core_abstract_load_after>
                <observers>
                    <responsive_email>
                        <type>singleton</type>
                        <class>responsive_email/observer</class>
                        <method>coreAbstractLoadAfter</method>
                    </responsive_email>
                </observers>
            </core_abstract_load_after>
        </events>
    </global>
</config>