<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_ResponsiveEmail>
            <version>0.1.0</version>
        </Hackathon_ResponsiveEmail>
    </modules>
    <global>
        <models>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Model</class>
            </responsive_email>
            <core>
                <rewrite>
                    <email_template>Hackathon_ResponsiveEmail_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>

        <helpers>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Helper</class>
            </responsive_email>
        </helpers>

        <blocks>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Block</class>
            </responsive_email>
        </blocks>
    </global>

    <default>
        <system>
            <mail_style>
                <inline_css>custom.css, ink.css</inline_css>
            </mail_style>
        </system>
    </default>
</config>