<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_ResponsiveEmail>
            <version>0.1.0</version>
        </Hackathon_ResponsiveEmail>
    </modules>
    <global>
        <models>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Model</class>
            </responsive_email>
        </models>

        <helpers>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Helper</class>
            </responsive_email>
        </helpers>

        <blocks>
            <responsive_email>
                <class>Hackathon_ResponsiveEmail_Block</class>
            </responsive_email>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <responsive_email>
                        <type>singleton</type>
                        <class>responsive_email/observer</class>
                        <method>adjustRewrite</method>
                    </responsive_email>
                </observers>
            </controller_front_init_before>
        </events>
    </global>

    <crontab>
        <events>
            <always>
                <observers>
                    <responsive_email>
                        <type>singleton</type>
                        <class>responsive_email/observer</class>
                        <method>adjustRewrite</method>
                    </responsive_email>
                </observers>
            </always>
            <default>
                <observers>
                    <responsive_email>
                        <type>singleton</type>
                        <class>responsive_email/observer</class>
                        <method>adjustRewrite</method>
                    </responsive_email>
                </observers>

            </default>
        </events>
    </crontab>

    <default>
        <system>
            <mail_style>
                <inline_css>custom.css, ink.css</inline_css>
            </mail_style>
        </system>
    </default>
</config>