<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <mail_style translate="label">
                    <label>Mail Style Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>90</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <inline_css translate="label">
                            <label>Inline CSS Files</label>
                            <comment>
                                Comma-separated list of CSS files that will get converted
                                into inline styles for transactional emails.  File path
                                is relative to skin/frontend/base/default/css/responsive_email.
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </inline_css>
                    </fields>
                </mail_style>
            </groups>
        </system>
    </sections>
</config>