<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<head> <!-- For testing only -->
<link rel="stylesheet" href="../../../../../skin/frontend/base/default/css/responsive_email/ink.css"> <!-- For testing only -->
<link rel="stylesheet" href="../../../../../skin/frontend/base/default/css/responsive_email/custom.css"> <!-- For testing only -->
</head> <!-- For testing only -->

<body class="account-new">
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>

                <!-- [ header starts here] -->
                <table class="body">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1>Dear {{htmlescape var=$customer.name}},</h1>
                            <p>Welcome to {{var store.getFrontendName()}}. To log in when visiting our site just click <a href="{{store url="customer/account/"}}">Login</a> or <a href="{{store url="customer/account/"}}">My Account</a> at the top of every page, and then enter your e-mail address and password.</p>
                            <p class="credentials">
                                Use the following values when prompted to log in:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Password</strong>: {{htmlescape var=$customer.password}}<p>
                            <p>When you log in to your account, you will be able to do the following:</p>
                            <ul>
                                <li>&ndash; Proceed through checkout faster when making a purchase</li>
                                <li>&ndash; Check the status of orders</li>
                                <li>&ndash; View past orders</li>
                                <li>&ndash; Make changes to your account information</li>
                                <li>&ndash; Change your password</li>
                                <li>&ndash; Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p>If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" class="thankyou"><center><p>Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>

            </center>
        </td>
    </tr>
</table>
</body>